@import
url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
body{
    background-color: #060332;
    color:aliceblue;
    
}
div.blur{
    filter: blur(10px);
}
  
header{
    justify-content: flex-end;
   align-self: center;
    max-width: 65em;
    width: calc(100% - 6em);
}

nav{
    
	padding: 0 30px 0 50px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    position: fixed; 
    top:0;
    left: 0;
    background-color:#2273EA ;
    height:100vh;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    transform: translateX(-100%);
    transition: 0.4s ease;
    overflow:visible;
    float: right;
    margin-left: auto;
    
    
}

nav ul{
    padding: 0%;
    list-style-type: none;
    line-height:200%;
   
   
}
nav ul li{
    margin: auto,auto;
    text-align: center;
    
   
}
nav a{
    color: black;
    font-size:large;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 200%;
    
    
}
nav a:hover{
    color: aqua;
}
nav.active{
    transform:translateX(0);
    
}
nav.active ul{
    width: 100%;
    transform:translateX(0);
}
nav.active ul li{
    width: 100%;
    
}
.toggle{
    border: none;
    font-size: medium;
    padding: 10%;
    position: absolute;
    top:0%;
    right:0%;
    transform: translateX(80%);
    resize: none;

}

h2{
    align-self: center;
    text-align: center;
    font-size: 200%; 
}
p{
    text-align: center;
}

h2::after{
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
    align-self: center;
    float: right;
    margin: auto;
  
  
  
}
p{
    font-size: larger;
}
div p{
    align-self: center;
    text-align: center;
    font-size: 150%; 
}

  
 