@import
url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
body{
    background-color: #6b64ccf6;
    color:rgb(10, 28, 45);
    font-family: sans-serif;
    align-self: center;
  

    
}

div #toblur{
   height:300px; 
   overflow: scroll;
}
  
section{
    font-size: xx-large;
    display: grid;
}

.topnav{
    overflow: hidden;
    background-color: #333;
    height:150px;
    line-height: 150px;
    
 
}
.topnav a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: solid;
    padding: 2%;
    margin-left: 15%;
   
  justify-content: center;
  align-items: center; 
    position: relative;
    font-size:larger;
    
}

.topnav a:hover{
    color: blueviolet;
    text-decoration: underline;
}


h2{
    align-self: center;
    text-align: center;
    font-size: 200%; 
    margin: auto;
}
p{
    text-align: center;
}

h2::after{
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em auto 0.5em auto;
    width: 100%;
    align-self: center;
    float: right;
    margin: auto;
  
  
  
}
p{
    font-size: larger;
    display:inline-flex
}
div p{
    align-self: center;
    text-align: center;
    font-size: 150%; 
}
#toblur{
    align-self: center;
    text-align: center;
}
#aboutme{
    align-self: center;
    text-align: center;
}
article{
    align-self: center;
}


  
 